In [19]:
#Read Data

import os
import csv
import pprint

# Reading 'menu_data.csv' and creating a list of lists menu[].
menu = []


with open('RESOURCES/menu_data.csv','r') as csvfile:
    menu_data = csv.reader(csvfile)
    next(menu_data)  
 
    for row in menu_data:
        menu.append(row)


# Creating a list for each colum of menu_data for further use       

item = []
categories = []
description = []
price = []
cost = []

for i in menu:
        item.append(i[0])
        description.append(i[1])
        description.append(i[2])
        price.append(i[3])
        cost.append(i[4])
        
# Reading 'sales_data.csv'and creating a list os lists Sales[]
sales = []

with open('RESOURCES/sales_data.csv','r') as csvfile:
    sales_data = csv.reader(csvfile)
    next(sales_data)  
 
    for row in sales_data:
        sales.append(row)

In [17]:
import pandas as pd

menu = pd.read_csv('RESOURCES/menu_data.csv')
menu.head()
menu.tail(10)

,item,category,description,price,cost
22,burnt garlic tonkotsu ramen,entree,"rich, shoyi and burnt garlic seasoned niman ra...",14.0,6
23,vegetarian curry + king trumpet mushroom ramen,entree,house curry blend + vegan dashi; fried king tr...,13.0,7
24,truffle butter ramen,entree,"rich, shoyu seasoned niman ranch prok bone sto...",14.0,7
25,green tea,drinks,green tea,2.5,1
26,coke,drinks,Coca Cola soda,2.0,1
27,black sesame ice cream,desserts,"house-made black sesame ice cream, valrhona ch...",5.0,2
28,matcha ice cream,desserts,"house-made matcha ice cream, white chocolate p...",5.0,2
29,mango mochi ice cream,desserts,two rice-cake bonbons filled with strawberry i...,5.0,2
30,strawberry mochi ice cream,desserts,two rice-cake bonbons filled with strawberry i...,5.0,2
31,black sesame creme brulee,desserts,house made black sesame infused creme brulee; ...,6.0,3

In [18]:
sales = pd.read_csv('RESOURCES/sales_data.csv')
sales.head(30)

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen
5,6,01-01-2017,4787310681569648,1,truffle butter ramen
6,7,01-01-2017,8252818705821725,1,tonkotsu ramen
7,8,01-01-2017,8252818705821725,1,tonkotsu ramen
8,9,01-01-2017,3119034881407323,1,vegetarian spicy miso
9,10,01-01-2017,3119034881407323,1,vegetarian spicy miso
10,11,01-01-2017,5185620052605569,1,shio ramen
11,12,01-01-2017,5185620052605569,1,shio ramen
12,13,01-01-2017,1625774198697856,1,tori paitan ramen
13,14,01-01-2017,1625774198697856,1,tori paitan ramen
14,15,01-01-2017,505248472056578,1,vegetarian spicy miso
15,16,01-01-2017,505248472056578,1,vegetarian spicy miso
16,17,01-01-2017,5010864392617689,1,spicy miso ramen
17,18,01-01-2017,5010864392617689,1,spicy miso ramen
18,19,01-01-2017,1792739336416381,2,truffle butter ramen
19,20,01-01-2017,1792739336416381,2,truffle butter ramen
20,21,01-01-2017,761559936834947,2,tonkotsu ramen
21,22,01-01-2017,761559936834947,2,tonkotsu ramen
22,23,01-01-2017,9019899875381263,1,truffle butter ramen
23,24,01-01-2017,9019899875381263,1,truffle butter ramen
24,25,01-01-2017,8390952377142813,2,tori paitan ramen
25,26,01-01-2017,8390952377142813,2,tori paitan ramen
26,27,01-01-2017,8413275554809498,1,spicy miso ramen
27,28,01-01-2017,8413275554809498,1,spicy miso ramen
28,29,01-01-2017,9297729736590973,1,vegetarian spicy miso
29,30,01-01-2017,9297729736590973,1,vegetarian spicy miso